#Temporary Editor Files#
*~
\#*\#
*.swp

#Build Files#
*.o

#Kernel Module Build Files#
*.ko
*.mod.c
*.order
*.symvers
*.tmp*
.*.cmd
matt-work/server
mainline/server
mainline/ncadmin

#Paper/Presentation

report/*.pdf
*.aux
*.out
*.aux
*.bbl
*.blg
*.log
*.dvi
*.nav
*.snm
*.toc
